.todo-filters-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 2rem;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.todo-filters-container .filter {
  border: 1px solid var(--tertiary-color);
  color: var(--tertiary-color);
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  font-size: 0.8rem;
}

.selected {
  background-color: var(--tertiary-color);
  color: #fff !important;
}
