:root {
  --primary-color: #777;
  --secondary-color: #bc728b;
  --tertiary-color: #3c6e71;


  --border-radius: 5px;
  --primary-shadow: var(--primary-color) 0px 0px 5px 0px, var(--primary-color) 0px 0px 1px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
